
        body{
            background-image:url(bttn.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-attachment: fixed;
            background-size: 60%;
        }
        h1{
            background:url(bttn.png) no repeat top left fixed;
            padding: 10px 10px 10px 100px;
            font-family: 돋움;
            color: white;
            text-shadow: 2px 2px 3px black;
        }
        p{
            font-size: 16px;
            line-height: 25px;
        }
        ul{
            list-style-type: none;
        }
        .bigger{
            font-size: 20px;
            font-weight: bold;
            font-style: italic;
        }